/* FONTS */
@import url(https://fonts.bunny.net/css?family=alexandria:400|figtree:400,500,600|bangers:400);

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-alex {
    font-family: 'Alexandria', sans-serif;
}

.font-fig {
    font-family: 'Figtree', sans-serif;
}

.font-bangers {
    font-family: 'Bangers', display;
}


[x-cloak] {
    display: none;
}

.btn {
    @apply bg-orange-500 text-white rounded-md w-full text-center;
}

.section-title {
    @apply text-4xl font-alex border-l-4 border-orange-500 pl-3 dark:text-gray-50;
}

.faq-button {
    @apply w-full flex justify-between items-center p-3 rounded-md bg-white dark:bg-gray-800 text-gray-600 dark:text-gray-50;
}

.faq-answer {
    @apply text-lg text-black/50 dark:text-gray-400 p-3 bg-white dark:bg-gray-800 rounded-md;
}
