/* FONTS */
@import url(https://fonts.bunny.net/css?family=alexandria:400,700|figtree:400,500,600|bangers:400);

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-alex {
    font-family: 'Alexandria', sans-serif;
}

.font-fig {
    font-family: 'Figtree', sans-serif;
}

.font-bangers {
    font-family: 'Bangers', display;
}


[x-cloak] {
    display: none;
}

.btn {
    @apply bg-orange-500 text-white rounded-md w-full text-center;
}

.section-title {
    @apply text-4xl lg:text-5xl font-alex font-bold bg-gradient-to-r from-orange-500 via-orange-600 to-orange-700 bg-clip-text text-transparent dark:from-orange-400 dark:via-orange-500 dark:to-orange-600 relative pl-6;
}

.section-title::before {
    content: '';
    @apply absolute left-0 top-1/2 -translate-y-1/2 w-1 h-12 bg-gradient-to-b from-orange-400 via-orange-600 to-orange-800 rounded-full shadow-lg;
}

.faq-button {
    @apply w-full flex justify-between items-center p-3 rounded-md bg-white dark:bg-gray-800 text-gray-600 dark:text-gray-50;
}

.faq-answer {
    @apply text-lg text-black/50 dark:text-gray-400 p-3 bg-white dark:bg-gray-800 rounded-md;
}
